<script>
	
$(document).ready(
 function(){
 	function getData(){
		$.getJSON('/home.json', function(posts) {
	     	document.getElementById("json").innerHTML = "";
		    var all = "";	
		  	$.each(posts, function(i, field){
		      all += 
		      "<dl>" + 
		      "<dt><b>" + field.username + "</b></dt>" +
		      "<dd>Event: " + field.name + "</dd>" +
		      "<dd>Location: " + field.location + "</dd>" +
		      "<dd>Start: " + field.start_date + "</dd>" +
		      "<dd>End: " + field.end_date + "</dd>" +
		      "<dd><a href=\"http://localhost:3000/events/" + field.id + "\">View Event</a></dd>" +
		      "</dl>";
		    });
	    
	    	if (all == "")
	    		all = "No events.";
	    
	    	document.getElementById("json").innerHTML = all;
		});
	}
	
   getData();
   setInterval(getData, 1000);
 });
</script>

<div id="json">
	
</div>