<script>
	
$(document).ready(
 function(){
 	function getData(){
		$.getJSON('/home.json', function(posts) {
	     	document.getElementById("json").innerHTML = "";

		    var all = "";	
		  	$.each(posts, function(i, field){
		      all += 
		      "<table><tr>" +
		      "<td colspan=\"2\" class=\"title\"><h2>" + field.name + "</h2></td>" +
		      "</tr><tr>" + 
		      "<td>Owner:</td><td>" + field.username + "</td>" +
		      "</tr><tr>" +
		      "<td>Where?:</td><td>" + field.location + "</td>" +
		      "</tr><tr>" +
		      "<td>Event start?</td><td>" + field.start_date + "</td>" +
		      "</tr><tr>" +
		      "<td>Event end?</td><td>" + field.end_date + "</td>" +
		      "</tr><tr>" +
		      "<td><a href=\"http://localhost:3000/events/" + field.id + "\">View Event</a></td><td></td>" +
		      "</tr></table>";
		      
		      all += "<br>";
		    });
		    all += "";
	    
	    	if (all == "")
	    		all = "<table><tr><td>No events.</td></tr></table>";
	    
	    	document.getElementById("json").innerHTML = all;
		});
	}
	
   getData();
   setInterval(getData, 1000);
 });
</script>
<h1 align="center">Friendly Events Feed</h1>
<div id="json">
	
</div>
<%= link_to "Sign in with Google", "/auth/google_oauth2" %>