<h2>Frineds Online</h2>
<% if @online_friends.size > 0 %>
	<table>
		<% @online_friends.each do |online| %>
			<tr>
		      <td>
		        <dl>
		          <dt>Name: <%= online.name %></dt>
		        </dl>
		      </td>
		    </tr>
		    <% end %>
	</table>
<% end %>
