<h1>Results</h1>

<div id="list">

<table width="250px" border="0" cellpadding="0" cellspacing="1">
	<% if !@results.nil? %>
		<% if @results.size > 0 %>
			<tr>
				<td width="70%"></td>
				<td width="30%"></td>
			</tr>
			<% @results.each do |result| %>
				<tr>
					<td><%= result.name %> | <%= result.location %></td>
					<td align="center"><%= link_to "View", :controller => "events", :action => "show", :id => result.id %></td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td width="70%">No results</td>
				<td width="30%"></td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td width="70%">No results</td>
			<td width="30%"></td>
		</tr>
	<% end%>
</table>
</div>