html { 
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  font: 11px verdana, sans-serif;
}

// 0u11Tw0w0w0w0 id http://colorschemedesigner.com/#

#container { 
  min-height: 100%;
  height: auto;
  width: 800px;
  margin: 0 auto;
  position: relative;
  border-left: 2px solid;
  border-right: 2px solid;
}

#banner {
  background: #FF5640;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #A61300;
  text-align: center;
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#menu
{
  float: left;
  width: 800px;
  background:#333;
}

#menu ul
{
  margin: 0;
  padding: 0;
}

#menu ul li
{
  list-style-type: none;
  display: inline;
}

#menu li a
{
  display: block;
  float: left;
  text-decoration: none;
  border-right: 1px solid #fff;
  padding: 5px 10px;
  color:#fff;
}

#menu li a:hover {
  background:#000;
}

#main {
    clear: left;
    position: relative;
    margin: 0 auto;
    width: 800px;
    padding: 1em;
    padding-bottom: 2em;
}

#main h3 {
  font-size: 14px;
  font-weight: normal;
}

#footer {
  background: #FF5640;
  height: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: #A61300;
  position: absolute;
  bottom: 0;
  width: 100%;
}
