// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Railscast 213

.button {
  width: 65px;
}

#members td {
  padding: 0px;
  border: collapse;
}

#members_title td {
  font-weight: bold;
  font-size: 16px;
}

#member_owner_line {
  color: red;
}

.label a, .input a {
  text-decoration: none;
  color: purple;
}